<!-- <h1>
  checkout works!
</h1> -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PobClient Checkout</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <a href="javascript:history.back()">Go Back</a>
  <div id="initCheckout">
    <h1>Welcome to checkout!</h1>
    <p>Please enter your phone number to verify your user.</p>
    <input type="text" required="true" placeholder="Phone Number" id="phoneNumber">
    <button (click)="checkUser()">Submit</button>
  </div>

  <form id="createUsr" class="hidden">
    Name:<br>
    <input id="name" type="text" name="name">
    <br> Email:
    <br>
    <input id="email" type="text" name="email">
    <br> Phone number:<br>
    <input id="number" type="text" name="number">
    <br><br>
    <input (click)="createUser()" type="button" value="Submit">
  </form>

  <div id="checkout" class="hidden">
    <button (click)="checkout()">Checkout</button>
  </div>

</body>

</html>
