.fill-space {
    flex: 1 1 auto;
  }
.is-available{
  color:#4EC54E
}
.not-available{
  color:red;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}